<div class="col-12" [hidden]="readonlyHideComponent">
  <p-fileUpload
    #anexosUploader1
    name="nome"
    [multiple]="true"
    [customUpload]="true"
    (onSelect)="escolherDocumentoFileUpload(anexosUploader1)"
    [uploadLabel]="'Enviar'"
    chooseLabel="Escolher"
    (uploadHandler)="enviarDocumentos(anexosUploader1)"
    [showCancelButton]="false"
    [styleClass]="'mb-2'"
    ><ng-template let-file pTemplate="file">
      <div class="grid">
        <div class="col-7">
          <div class="text-lg">{{ sn(file.name) }}</div>
        </div>
        <div class="col-2">
          <div class="text-lg">{{ fb(file.size) }}</div>
        </div>
        <div class="col-2">
          <div
            [hidden]="checkEnviadoTemplate(file.name)"
            class="text-lg bg-yellow-500 text-white p-1 w-max"
          >
            Pendente
          </div>
          <div
            [hidden]="!checkEnviadoTemplate(file.name)"
            class="text-lg bg-green-600 text-white p-1 w-max"
          >
            Enviado
          </div>
        </div>
        <div class="col-1">
          <button
            class="p-2 p-button-danger"
            icon="pi pi-times"
            pButton
            type="button"
            [style.visibility]="
              ct(vp.anexo_ged, file.name) ? 'hidden' : 'visible'
            "
            (click)="removerDocumentoFileUpload($event, file, anexosUploader1)"
          ></button>
        </div></div></ng-template
  ></p-fileUpload>
</div>
<div class="col-12">
  <p-table [value]="vp.anexo_files2" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Tamanho</th>
        <th>Última Modificação</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template let-file pTemplate="body">
      <tr>
        <td>{{ file.file.name }}</td>
        <td>{{ file.file.type }}</td>
        <td>{{ file.file.size }}</td>
        <td>{{ file.file.lastModified | date : "dd/MM/yyyy HH:mm:ss" }}</td>
        <td>
          <button
            pButton
            class="p-2 mr-1"
            icon="pi pi-download"
            (click)="downloadFile(file)"
          ></button>
          <button
            pButton
            class="p-2 p-button-danger ml-3"
            icon="pi pi-times"
            (click)="removerArquivo(file)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
