<!-- modalLista -->
<div class="grid">
  <div class="col-12">
    <div class="grid">
      <span class="col-12"
        >Pop-up(ModalLista) <span style="color: red">*</span></span
      >
      <div class="col-12 py-0">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            class="col-12"
            placeholder="Selecione"
            [readonly]="true"
            (click)="substituidoInput()"
          />
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-0"
            (click)="substituidoInput()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Itens para substituir"
    [styleClass]="'w-6'"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closeOnEscape]="true"
    [(visible)]="showModalSub"
  >
    <p-table
      #tableSubstituido
      selectionMode="single"
      styleClass="p-datatable-sm"
      [rows]="10"
      [paginator]="true"
      (onRowSelect)="substituidoSelect()"
      dataKey=""
      [globalFilterFields]="['', '']"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              type="text"
              class="col-12"
              pInputText
              (input)="
                tableSubstituido.filterGlobal(
                  $any($event.target).value,
                  'contains'
                )
              "
              placeholder="Buscar"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Código</th>
          <th>Descrição</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sub>
        <tr [pSelectableRow]="sub">
          <td>{{ sub.c }}</td>
          <td>{{ sub.d }}</td>
        </tr>
      </ng-template>
    </p-table></p-dialog
  >
  <div class="divisor"></div>
  <!-- checkbox -->
  <div class="col-12">
    <div class="grid mt-1">
      <p-checkbox class="ml-2" [binary]="true"></p-checkbox>
      <label class="ml-2">Checkbox <span style="color: red">*</span></label>
    </div>
  </div>

  <div class="divisor"></div>
  <!-- email -->
  <div class="col-12">
    <div class="grid">
      <span class="col-12">E-mail<span style="color: red">*</span></span>
      <div class="col-12 py-0">
        <input
          type="text"
          class="col-12"
          pInputText
          placeholder="exemplo@gmail.com"
          (keypress)="checkEmail($event)"
          [(ngModel)]="email"
        />
      </div>
    </div>
  </div>

  <div class="divisor"></div>
  <!-- ngfor -->
  <div class="col-12 pb-0">
    <div class="grid" *ngFor="let i of investimento">
      <p-panel class="col-12 mb-2" [header]="'Cotação ' + getIndex(i.id)">
        <div class="grid">
          <div class="col-9">
            <div class="grid">
              <span class="col-12"
                >Especificação da publicidade
                <span style="color: red">*</span></span
              >
              <div class="col-12 py-0">
                <input
                  type="text"
                  class="col-12"
                  pInputText
                  [(ngModel)]="i.especificacao"
                />
              </div>
              <h6 class="col-12 m-0 py-0" style="font-weight: normal">
                Informe as medidas de cada formato disponíveis na proposta (ex:
                "1/4 de página: 160x200cm", etc)
              </h6>
            </div>
          </div>

          <div class="col-1"></div>

          <div class="col-2">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              label="Excluir"
              class="w-full py-2 p-button-danger"
              (click)="excluirInvestimento(i.id)"
            ></button>
          </div>

          <div class="col-9">
            <div class="grid">
              <span class="col-12"
                >Formato <span style="color: red">*</span></span
              >
              <div class="col-12 py-0">
                <input
                  type="text"
                  class="col-12"
                  pInputText
                  [(ngModel)]="i.formato"
                />
              </div>
            </div>
          </div>

          <div class="col-3"></div>

          <div class="col-3">
            <div class="grid">
              <span class="col-12"
                >Investimento <span style="color: red">*</span></span
              >
              <div class="col-12 py-0">
                <p-inputNumber
                  [(ngModel)]="i.investimento"
                  mode="currency"
                  currency="BRL"
                  class="w-12"
                  [styleClass]="'w-12'"
                  [inputStyleClass]="'col-12'"
                  buttonLayout="horizontal"
                  spinnerMode="horizontal"
                  [min]="0"
                  [step]="1.0"
                  decrementButtonClass="p-0"
                  incrementButtonClass="p-0"
                  incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"
                  [showButtons]="true"
                >
                </p-inputNumber>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="grid">
              <span class="col-12"
                >Quantidade de inserções da publicidade
                <span style="color: red">*</span></span
              >
              <div class="col-12 py-0">
                <p-inputNumber
                  [(ngModel)]="i.quantidade"
                  class="w-12"
                  [styleClass]="'w-12'"
                  [inputStyleClass]="'col-12'"
                  buttonLayout="horizontal"
                  spinnerMode="horizontal"
                  [min]="0"
                  [step]="1"
                  decrementButtonClass="p-0"
                  incrementButtonClass="p-0"
                  incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"
                  [showButtons]="true"
                >
                </p-inputNumber>
              </div>
            </div>
          </div>
        </div>
      </p-panel>
    </div>
  </div>

  <div class="col-2 py-0 mb-2">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-plus"
      label="ngFor"
      class="w-full py-2"
      (click)="adicionarInvestimento()"
    ></button>
  </div>

  <div class="divisor"></div>
  <!-- inputSwitch -->
  <div class="col-12">
    <div class="grid flex flex-column">
      <span class="col-12" style="width: auto">InputSwitch</span>
      <div class="ml-1 p-1 flex">
        <p-inputSwitch [(ngModel)]="aprov"></p-inputSwitch>
        <span class="ml-1 p-1" [hidden]="aprov">Não</span>
        <span class="ml-1 p-1" [hidden]="!aprov">Sim</span>
      </div>
    </div>
  </div>

  <div class="divisor"></div>
  <!-- RadioButton -->
  <div class="p-2 grid">
    <div class="col-12">
      <div class="grid">
        <span class="col-12"
          >RadioButton: <span style="color: red">*</span></span
        >
        <div class="col-12">
          <div class="grid" aria-disabled="true">
            <div class="col-3">
              <p-radioButton
                name="opcoes"
                value="Não se aplica"
                [styleClass]="'mr-1'"
                [(ngModel)]="avaliacao"
              ></p-radioButton>
              <span>Não se aplica</span>
            </div>
            <div class="col-3">
              <p-radioButton
                name="opcoes"
                value="Ruim"
                [styleClass]="'mr-1'"
                [(ngModel)]="avaliacao"
              ></p-radioButton>
              <span>Ruim</span>
            </div>
            <div class="col-3">
              <p-radioButton
                name="opcoes"
                value="Normal"
                [styleClass]="'mr-1'"
                [(ngModel)]="avaliacao"
              ></p-radioButton>
              <span>Normal</span>
            </div>
            <div class="col-3">
              <p-radioButton
                name="opcoes"
                value="Excelente"
                [styleClass]="'mr-1'"
                [(ngModel)]="avaliacao"
              ></p-radioButton>
              <span>Excelente</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
