<p>Anexo solicitação</p>
<!-- Avançado -->
<div class="mt-1 p-2 grid">
  <div class="col-12" [hidden]="readonlyHideComponent">
    <div class="col-12 text-lg p-0 mb-2">
      Anexe arquivos que serão enviados ao GED, arquivos duplicados não serão
      enviados
    </div>
    <p-fileUpload
      #anexosUploader1
      name="nome"
      [multiple]="true"
      [customUpload]="true"
      (onSelect)="escolherDocumentoFileUpload(anexosUploader1)"
      [uploadLabel]="'Enviar para GED'"
      chooseLabel="Escolher"
      (uploadHandler)="enviarDocumentos(anexosUploader1)"
      [showCancelButton]="false"
      [styleClass]="'mb-2'"
      ><ng-template let-file pTemplate="file">
        <div class="grid">
          <div class="col-7">
            <div class="text-lg">{{ sn(file.name) }}</div>
          </div>
          <div class="col-2">
            <div class="text-lg">{{ fb(file.size) }}</div>
          </div>
          <div class="col-2">
            <div
              [hidden]="ct(vp.anexo_ged, file.name)"
              class="text-lg bg-yellow-500 text-white p-1 w-max"
            >
              Pendente
            </div>
            <div
              [hidden]="!ct(vp.anexo_ged, file.name)"
              class="text-lg bg-green-600 text-white p-1 w-max"
            >
              Enviado
            </div>
          </div>
          <div class="col-1">
            <button
              class="p-2 p-button-danger"
              icon="pi pi-times"
              pButton
              type="button"
              [style.visibility]="
                ct(vp.anexo_ged, file.name) ? 'hidden' : 'visible'
              "
              (click)="
                removerDocumentoFileUpload($event, file, anexosUploader1)
              "
            ></button>
          </div></div></ng-template
    ></p-fileUpload>
  </div>

  <!-- Básico -->
  <div class="mt-1 p-2 grid">
    <div class="col-12" [hidden]="readonlyHideComponent">
      <div class="col-12 text-lg p-0 mb-2">
        Anexe arquivos que serão enviados ao GED, arquivos duplicados não serão
        enviados
      </div>

      <p-fileUpload
        #anexosUploader2
        mode="basic"
        name="demo[]"
        [customUpload]="true"
        (onSelect)="escolherDocumentoFileUpload(anexosUploader2)"
        (uploadHandler)="enviarDocumentos(anexosUploader2)"
      ></p-fileUpload>
    </div>
  </div>

  <!-- Upload automático -->
  <div class="mt-1 p-2 grid">
    <div class="col-12" [hidden]="readonlyHideComponent">
      <div class="col-12 text-lg p-0 mb-2">
        Anexe arquivos que serão enviados ao GED, arquivos duplicados não serão
        enviados
      </div>

      <p-fileUpload
        #anexosUploader3
        mode="basic"
        name="demo2[]"
        [auto]="true"
        chooseLabel="Automatico"
        [customUpload]="true"
        (onSelect)="escolherDocumentoFileUpload(anexosUploader3)"
        (uploadHandler)="enviarDocumentos(anexosUploader3)"
      ></p-fileUpload>
    </div>
  </div>

  <div class="col-12">
    <div class="col-12 text-lg p-0 mb-2">
      Documentos já enviados ao GED<span [hidden]="readonlyHideComponent"
        >, arquivos duplicados não serão enviados</span
      >
    </div>
    <p-table
      #tableAnexosMenut4
      [value]="vp.anexo_ged"
      [paginator]="true"
      [rows]="5"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="text-lg">Nome</th>
          <th class="text-lg">Criado por</th>
          <th class="text-lg">Estado GED</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-anexo>
        <tr [pSelectableRow]="anexo">
          <td class="text-lg">{{ anexo.arquivoGED.title }}</td>
          <td class="text-lg">{{ anexo.arquivoGED.createdBy }}</td>
          <td>
            <div
              class="text-lg text-white w-max p-1 {{ anexo.classTemplateGED }}"
            >
              {{ anexo.estadoGED }}
            </div>
          </td>
          <td>
            <button
              class="p-2 p-button-info mr-2"
              icon="pi pi-download"
              pButton
              type="button"
              (click)="descarregarDocumentoGED(anexo.gedId)"
            ></button>
            <button
              class="p-2 p-button-danger"
              icon="pi pi-trash"
              pButton
              type="button"
              [style.visibility]="readonlyHideComponent ? 'hidden' : 'visible'"
              (click)="excluirDocumentoGED(anexo)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Paginação -->

<div class="grid">
  <span class="col-12">
    Paginação
    <span style="color: red">*</span>
  </span>
  <div class="col-12 py-0">
    <div class="p-inputgroup">
      <input
        pInputText
        type="text"
        class="col-12"
        placeholder="Selecione"
        [readonly]="true"
        [(ngModel)]="descricaoSelecionada"
        (click)="inputLazyLoad()"
      />
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-search"
        class="p-0"
        (click)="inputLazyLoad()"
        [disabled]="vp.Buscando_WS"
      ></button>
    </div>
  </div>
</div>
<p-dialog
  #dialog
  header="Contas"
  [styleClass]="'w-6'"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closeOnEscape]="true"
  [closable]="!vp.Buscando_WS"
  [(visible)]="mostrar_modal"
>
  <p-table
    #table
    [value]="servicos"
    [lazy]="true"
    (onLazyLoad)="inputLazyLoad($event)"
    dataKey="desSer"
    [(selection)]="descricaoPesquisado"
    selectionMode="single"
    styleClass="p-datatable-sm"
    [rows]="linhas"
    [paginator]="true"
    [totalRecords]="total"
    [loading]="vp.Buscando_WS"
    [lazyLoadOnInit]="false"
    (onRowSelect)="clientesOnRowSelect($event)"
    (onRowUnselect)="clientesOnRowUnselect($event)"
    [globalFilterFields]="['codFam', 'desSer']"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input
            type="text"
            class="col-12"
            pInputText
            (input)="table.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Buscar"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="codFam">
          Código <p-sortIcon field="codFam"></p-sortIcon>
        </th>
        <th pSortableColumn="desSer">
          Descrição <p-sortIcon field="desSer"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="codFam"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="desSer"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mar>
      <tr [pSelectableRow]="mar">
        <td>{{ mar.codFam }}</td>
        <td>{{ mar.desSer }}</td>
      </tr>
    </ng-template>
    <!-- Empty Message -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [colSpan]="2" style="text-align: center">
          {{ vacio }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button [disabled]="!linhaSelecionada" (click)="selecionarOnClick()"
        >Selecionar</p-button
      >
      <p-button styleClass="p-button-secondary" (click)="cancelarOnClick()"
        >Cancelar</p-button
      >
    </ng-template>
  </p-table>
</p-dialog>
