<div class="grid">
  <!-- InputText -->
  <div class="col-12">
    <div class="grid">
      <span class="col-12">Input<span style="color: red">*</span></span>
      <div class="col-12 py-0">
        <input pInputText type="text" class="col-12" />
      </div>
    </div>
  </div>

  <!-- calendar -->
  <div class="col-12">
    <div class="grid">
      <span class="col-12">Data<span style="color: red">*</span></span>
      <div class="col-12 py-0">
        <p-calendar
          dateFormat="dd/mm/yy"
          [showTime]="true"
          [showButtonBar]="true"
          [readonlyInput]="true"
          [style]="{ width: '100%' }"
          [inputStyleClass]="'col-12'"
        ></p-calendar>
      </div>
    </div>
  </div>

  <!-- dropdown -->
  <div class="col-12">
    <div class="grid">
      <span class="col-12">Dropdown<span style="color: red">*</span></span>
      <div class="col-12 py-0">
        <p-dropdown
          class="w-12"
          [styleClass]="'w-12'"
          [panelStyleClass]="'col-12'"
          [options]="cities"
          placeholder="Selecione"
          optionLabel="name"
          optionValue="code"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <!-- inputMask -->
  <div class="col-12">
    <div class="grid">
      <span class="col-12">CPF<span style="color: red">*</span></span>
      <div class="col-12 py-0">
        <p-inputMask
          class="w-12"
          [styleClass]="'w-12'"
          mask="999.999.999-99"
          placeholder="999.999.999-99"
          [autoClear]="false"
        ></p-inputMask>
      </div>
    </div>
  </div>

  <!-- inputNumber currency -->
  <div class="col-12">
    <div class="grid">
      <span class="col-12">Valor<span style="color: red">*</span></span>
      <div class="col-12 py-0">
        <p-inputNumber
          class="w-12"
          [styleClass]="'w-12'"
          [inputStyleClass]="'col-12'"
          [min]="0"
          [step]="1"
          mode="currency"
          currency="BRL"
          [showButtons]="true"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          decrementButtonClass="p-0"
          incrementButtonClass="p-0"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          placeholder="R$ 0,00"
        >
        </p-inputNumber>
      </div>
    </div>
  </div>
</div>
