.progress-spinner-parent {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.progress-spinner {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}

::ng-deep .p-datatable .p-datatable-tbody > tr:nth-child(even) {
	background: rgb(238, 238, 238) !important;
}

/* Ajuste a altura do p-multiSelect */
::ng-deep .p-multiselect {
  height: 40px !important; /* Ajuste este valor conforme necessário */
  display: flex;
  align-items: center;
}

::ng-deep .p-multiselect-label-container {
  height: 100% !important;
  display: flex;
  align-items: center;
}

::ng-deep .p-multiselect-trigger {
  height: 100% !important;
  display: flex;
  align-items: center;
}


