.progress-spinner-parent {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.progress-spinner {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}
