<div class="grid">

  <div class="col-2 pb-0">
    <button
      pButton
      pRipple
      type="button"
      class="w-full col-12"
      label="Pesquisar"
      (click)="pesquisar()"
    ></button>
  </div>
  <p-table class="col-12" styleClass="p-datatable-gridlines" *ngIf="produtos.length > 0 && !vp.Buscando_WS" [scrollable]="true" scrollHeight="90vh" #pd dataKey="codPro" [(selection)]="selectedProducts" [value]="produtos" [(selection)]="selectedProducts">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="3" pFrozenColumn>
          <p-tableHeaderCheckbox/>
        </th>
        <th rowspan="3" pFrozenColumn>Produto</th>
        <th rowspan="3" pFrozenColumn>Desc</th>
        <th rowspan="3" pFrozenColumn style="border-right: 1px solid #dee2e6 !important;">UN</th>
        <th rowspan="3" style="min-width: 90px; text-align: center;">Qtd OC</th>
        <th rowspan="3" style="min-width: 170px; text-align: center;">Qtd. Sol. Cpr. N.A</th>
        <th rowspan="3" style="min-width: 140px; text-align: center;">Qtd. Sol. Cpr.</th>
        <th rowspan="3" style="text-align: center;">Estoque</th>
        <th rowspan="3" style="text-align: center;">Aberto</th>
    </tr>
    <tr>
        <th *ngFor="let date of periodos"  colspan="2" style="text-align: center">
          {{date.periodo}}
          <p-checkbox [binary]="true" [(ngModel)]="date.selecionado"></p-checkbox>
        </th>
    </tr>
    <tr>
      <ng-container *ngFor="let date of periodos">
        <th style="min-width: 120px; text-align: center">Qtd. Calc</th>
        <th>Qtd</th>
      </ng-container>
    </tr>

    </ng-template>
    <ng-template pTemplate="body" let-produto let-rowIndex="rowIndex">
      <tr>
        <td pFrozenColumn style="padding: 0;align-items: center;display: flex;justify-content: center;"><p-tableCheckbox [value]="produto" /></td>
        <td pFrozenColumn style="padding: 0;text-align: center">{{ produto.codPro }}</td>
        <td pFrozenColumn style="min-width: 800px;padding: 0">{{ produto.desPro }}</td>
        <td pFrozenColumn style="padding: 0;text-align: center;border-right: 1px solid #dee2e6 !important;">{{ produto.uniMed }}</td>
        <td style="padding: 0;text-align: center">{{ produto.qtdOcp }}</td>
        <td style="padding: 0;text-align: center">{{ produto.qtdScn}}</td>
        <td style="padding: 0;text-align: center">{{ produto.qtdScp }}</td>
        <td style="padding: 0;text-align: center">{{ produto.qtdEst }}</td>
        <td style="padding: 0;text-align: center">{{ produto.qtdAbe }}</td>
        <ng-container *ngFor="let date of produto.datas; let i = index">
          <td  style="text-align: center;padding: 0">{{date.sugMes}}</td>
          <td [pEditableColumn]="date.cprMes" pEditableColumnField="quantidade" style="text-align: center;padding: 0">
            <p-cellEditor>
              <ng-template pTemplate="input">
                  <input
                      pInputText
                      style="width: 100%; height: 100%; padding: 0;"
                      type="number"
                      (change)="alterandoQuantidade(produto, i, date.cprMes, rowIndex)"
                      [(ngModel)]="date.cprMes" />
              </ng-template>
              <ng-template pTemplate="output">
                  {{ date.cprMes }}
              </ng-template>
          </p-cellEditor>

          </td>
        </ng-container>
      </tr>
    </ng-template>
  </p-table>
</div>




<div class="progress-spinner-parent" *ngIf="vp.Buscando_WS">
  <p-progressSpinner class="progress-spinner"></p-progressSpinner>
</div>
