<div class="card">
  <p-messages
    [styleClass]="'w-12'"
    [(value)]="vp.alertas"
    [enableService]="false"
  ></p-messages>

  <h5 style="font-weight: normal" class="mt-0 mb-2">
    (<span style="color: red">*</span>) Atenção aos campos obrigatórios
  </h5>

  <p-tabMenu
    [model]="menus"
    [activeItem]="activeMenu"
    [scrollable]="!vp.overlay"
  ></p-tabMenu>

  <app-t1-exemplos [vp]="vp" [hidden]="panel['t1_exemplos']"></app-t1-exemplos>
  <app-t2-exemplos [vp]="vp" [hidden]="panel['t2_exemplos']"></app-t2-exemplos>
  <app-t3-exemplos [vp]="vp" [hidden]="panel['t3_exemplos']"></app-t3-exemplos>
</div>
